In [1]:
import os

In [2]:
%load_ext sql

In [3]:
%sql postgresql://postgres:{os.environ['POSTGRES_PASSWORD']}@172.18.1.89/postgres

### 1. Sum of power consumtion for period for devices

##### View tables

In [52]:
%sql select * from metering_data limit 5;

 * postgresql://postgres:***@172.18.1.89/postgres
5 rows affected.

[(datetime.datetime(2019, 1, 1, 0, 0), 0.5175, 101),
 (datetime.datetime(2019, 1, 1, 0, 30), 0.528, 101),
 (datetime.datetime(2019, 1, 1, 1, 0), 0.5225, 101),
 (datetime.datetime(2019, 1, 1, 1, 30), 0.5415, 101),
 (datetime.datetime(2019, 1, 1, 2, 0), 0.491, 101)]

In [53]:
%sql select * from devices limit 5;

 * postgresql://postgres:***@172.18.1.89/postgres
5 rows affected.

[(101, 'Ввод-1 (контр.)', 1, 2),
 (102, 'Ввод-2 (контр.)', 2, 3),
 (103, 'ЩВК 3.3 (ВРУ 3.2)', 3, 3),
 (104, 'ЩР 3.2 (ВРУ 3.2)', 4, 3),
 (105, 'ЩРС 2 (ВРУ 3.2)', 6, 3)]

##### Build query

In [54]:
%%sql

select
   devices.title as device_title,
   metering.consumption as consumption
from devices 
   join
      (
         select
            device as dev_id,
            round(cast(sum(value) as numeric), 3) as consumption 
         from
            metering_data 
         where
            timestamp between '2019-01-01 00:00:00' and '2019-02-01 23:59:59' 
         group by
            device
      ) as metering 
      on devices.id = metering.dev_id

 * postgresql://postgres:***@172.18.1.89/postgres
2 rows affected.

[('Ввод-1 (контр.)', Decimal('3529.327')),
 ('РП-1. Фид. 1', Decimal('88670982.700'))]

### 2. Show top 5 fasilities with most events on it

##### View data

In [55]:
%sql select * from technological_events limit 5;

 * postgresql://postgres:***@172.18.1.89/postgres
5 rows affected.

[(1, 'V1-UPS-02. QF1 отключен', datetime.datetime(2020, 5, 20, 9, 10, 0, 208000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 20039, 'state_comm-device', 'info'),
 (2, 'РТП. Выключатель ф.1.5 (1QF5) включен', datetime.datetime(2020, 5, 20, 8, 40, 1, 111000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 11017, 'state_comm-device', 'info'),
 (3, 'РП-15, Яч.3 (СД-2). Выключатель включен', datetime.datetime(2020, 5, 20, 8, 40, 0, 952000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 504, 'state_comm-device', 'info'),
 (4, 'РТП. Выключатель ф.1.5 (1QF5) включен', datetime.datetime(2020, 5, 20, 8, 40, 0, 947000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 11017, 'state_comm-device', 'info'),
 (5, 'V1-UPS-02. QF1 отключен', datetime.datetime(2020, 5, 20, 8, 40, 0, 914000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 20039, 'state_comm-device', 'info')]

In [56]:
%sql select * from facilities limit 5;

 * postgresql://postgres:***@172.18.1.89/postgres
5 rows affected.

[(1, 'Офис', 0),
 (2, 'ВРУ-3.1', 1),
 (3, 'ВРУ-3.2', 1),
 (4, 'ВРУ 2-го этажа', 1),
 (5, 'ВРУ 1-го этажа', 1)]

In [57]:
%sql select * from devices limit 5;

 * postgresql://postgres:***@172.18.1.89/postgres
5 rows affected.

[(101, 'Ввод-1 (контр.)', 1, 2),
 (102, 'Ввод-2 (контр.)', 2, 3),
 (103, 'ЩВК 3.3 (ВРУ 3.2)', 3, 3),
 (104, 'ЩР 3.2 (ВРУ 3.2)', 4, 3),
 (105, 'ЩРС 2 (ВРУ 3.2)', 6, 3)]

##### Build query

In [58]:
%%sql

SELECT 
    devfac.f_title as Facility,
    COUNT(technological_events.created_timestamp) as Total
FROM technological_events
    JOIN (
        SELECT devices.id as dev_id,
            facilities.title as f_title,
            facilities.id as f_id
        FROM devices
            JOIN facilities ON devices.facility = facilities.id
    ) as devfac ON technological_events.device = devfac.dev_id
GROUP BY Facility
ORDER BY total DESC;

 * postgresql://postgres:***@172.18.1.89/postgres
5 rows affected.

[('РТП', 100834),
 ('РП-15', 79553),
 ('Инженерные системы', 19581),
 ('ГПП-1', 1661),
 ('ВРУ-3.1', 916)]

### 3. Daily frequencies of defferent event types on facilities

##### Vies data

In [59]:
%sql select * from technological_events limit 5;

 * postgresql://postgres:***@172.18.1.89/postgres
5 rows affected.

[(1, 'V1-UPS-02. QF1 отключен', datetime.datetime(2020, 5, 20, 9, 10, 0, 208000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 20039, 'state_comm-device', 'info'),
 (2, 'РТП. Выключатель ф.1.5 (1QF5) включен', datetime.datetime(2020, 5, 20, 8, 40, 1, 111000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 11017, 'state_comm-device', 'info'),
 (3, 'РП-15, Яч.3 (СД-2). Выключатель включен', datetime.datetime(2020, 5, 20, 8, 40, 0, 952000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 504, 'state_comm-device', 'info'),
 (4, 'РТП. Выключатель ф.1.5 (1QF5) включен', datetime.datetime(2020, 5, 20, 8, 40, 0, 947000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 11017, 'state_comm-device', 'info'),
 (5, 'V1-UPS-02. QF1 отключен', datetime.datetime(2020, 5, 20, 8, 40, 0, 914000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 20039, 'state_comm-device', 'info')]

In [60]:
%sql select * from event_types limit 5;

 * postgresql://postgres:***@172.18.1.89/postgres
5 rows affected.

[('communication', 'Коммуникация'),
 ('set_points', 'Уставки'),
 ('data', 'Данные'),
 ('hardware', 'Аппаратное'),
 ('other', 'Прочее')]

##### Build query

In [61]:
%%sql

select type, count(*)
from technological_events
group by type;

 * postgresql://postgres:***@172.18.1.89/postgres
5 rows affected.

[('alarm', 1),
 ('high_level', 39325),
 ('info', 20004),
 ('state_comm-device', 142878),
 ('warning', 337)]

In [62]:
%%sql 

SELECT fasility,
       type_title,
       round(avg(COUNT)/NULLIF((CAST(MAX(date) AS date) - CAST(MIN(date) AS date)),0), 1) AS avarage_per_day
FROM
  (SELECT created_timestamp::date AS date,
          devfac.f_title AS fasility,
          event_types.title AS type_title,
          count(message)
   FROM technological_events
   JOIN
     (SELECT devices.id AS dev_id,
             facilities.title AS f_title,
             facilities.id AS f_id
      FROM devices
      JOIN facilities ON devices.facility = facilities.id) AS devfac ON technological_events.device = devfac.dev_id
   JOIN event_types ON technological_events.type=event_types.code
   GROUP BY (date, fasility,
                   type_title)) AS DATA
GROUP BY (fasility,
          type_title)
ORDER BY fasility,
         type_title DESC;

 * postgresql://postgres:***@172.18.1.89/postgres
10 rows affected.

[('ВРУ-3.1', 'Предупреждение', Decimal('0.1')),
 ('ВРУ-3.1', 'Информация', Decimal('0.2')),
 ('ВРУ-3.1', 'Высокий уровень', Decimal('0.3')),
 ('ГПП-1', 'Положение комм. аппаратов', Decimal('0.4')),
 ('Инженерные системы', 'Положение комм. аппаратов', Decimal('3.7')),
 ('РП-15', 'Положение комм. аппаратов', Decimal('15.2')),
 ('РП-15', 'Аварийная сигнализация', None),
 ('РТП', 'Положение комм. аппаратов', Decimal('8.0')),
 ('РТП', 'Информация', Decimal('3.7')),
 ('РТП', 'Высокий уровень', Decimal('7.5'))]

### 4. Time series lags for regression future engineering

##### View data

In [63]:
%sql select * from metering_data limit 5;

 * postgresql://postgres:***@172.18.1.89/postgres
5 rows affected.

[(datetime.datetime(2019, 1, 1, 0, 0), 0.5175, 101),
 (datetime.datetime(2019, 1, 1, 0, 30), 0.528, 101),
 (datetime.datetime(2019, 1, 1, 1, 0), 0.5225, 101),
 (datetime.datetime(2019, 1, 1, 1, 30), 0.5415, 101),
 (datetime.datetime(2019, 1, 1, 2, 0), 0.491, 101)]

##### Build query

In [64]:
%%sql 

select 
    timestamp, 
    value, 
    lag(value, 1) over() as lag30min,
    lag(value, 2) over() as lag60min,
    lag(value, 3) over() as lag90min,
    lag(value, 4) over() as lag120min,
    lag(value, 5) over() as lag150min
from  metering_data
where device=101
limit 10;

 * postgresql://postgres:***@172.18.1.89/postgres
10 rows affected.

[(datetime.datetime(2019, 1, 1, 0, 0), 0.5175, None, None, None, None, None),
 (datetime.datetime(2019, 1, 1, 0, 30), 0.528, 0.5175, None, None, None, None),
 (datetime.datetime(2019, 1, 1, 1, 0), 0.5225, 0.528, 0.5175, None, None, None),
 (datetime.datetime(2019, 1, 1, 1, 30), 0.5415, 0.5225, 0.528, 0.5175, None, None),
 (datetime.datetime(2019, 1, 1, 2, 0), 0.491, 0.5415, 0.5225, 0.528, 0.5175, None),
 (datetime.datetime(2019, 1, 1, 2, 30), 0.563, 0.491, 0.5415, 0.5225, 0.528, 0.5175),
 (datetime.datetime(2019, 1, 1, 3, 0), 0.5, 0.563, 0.491, 0.5415, 0.5225, 0.528),
 (datetime.datetime(2019, 1, 1, 3, 30), 0.5275, 0.5, 0.563, 0.491, 0.5415, 0.5225),
 (datetime.datetime(2019, 1, 1, 4, 0), 0.5845, 0.5275, 0.5, 0.563, 0.491, 0.5415),
 (datetime.datetime(2019, 1, 1, 4, 30), 0.551, 0.5845, 0.5275, 0.5, 0.563, 0.491)]

In [65]:
%%sql

select 
    timestamp, 
    value, 
    lag(value, 1) over() as lag30min,
    lag(value, 2) over() as lag60min,
    lag(value, 3) over() as lag90min,
    lag(value, 4) over() as lag120min,
    lag(value, 5) over() as lag150min
from  metering_data
where device=101
limit 10
offset 100;

 * postgresql://postgres:***@172.18.1.89/postgres
10 rows affected.

[(datetime.datetime(2019, 1, 3, 2, 0), 0.5245, 0.5195, 0.5415, 0.494, 0.5615, 0.4995),
 (datetime.datetime(2019, 1, 3, 2, 30), 0.5265, 0.5245, 0.5195, 0.5415, 0.494, 0.5615),
 (datetime.datetime(2019, 1, 3, 3, 0), 0.541, 0.5265, 0.5245, 0.5195, 0.5415, 0.494),
 (datetime.datetime(2019, 1, 3, 3, 30), 0.495, 0.541, 0.5265, 0.5245, 0.5195, 0.5415),
 (datetime.datetime(2019, 1, 3, 4, 0), 0.5585, 0.495, 0.541, 0.5265, 0.5245, 0.5195),
 (datetime.datetime(2019, 1, 3, 4, 30), 0.5105, 0.5585, 0.495, 0.541, 0.5265, 0.5245),
 (datetime.datetime(2019, 1, 3, 5, 0), 0.5245, 0.5105, 0.5585, 0.495, 0.541, 0.5265),
 (datetime.datetime(2019, 1, 3, 5, 30), 0.5305, 0.5245, 0.5105, 0.5585, 0.495, 0.541),
 (datetime.datetime(2019, 1, 3, 6, 0), 0.5285, 0.5305, 0.5245, 0.5105, 0.5585, 0.495),
 (datetime.datetime(2019, 1, 3, 6, 30), 0.4935, 0.5285, 0.5305, 0.5245, 0.5105, 0.5585)]

### 5. Moving avarage

##### View data

In [66]:
%sql select * from metering_data where device=101 limit 5;

 * postgresql://postgres:***@172.18.1.89/postgres
5 rows affected.

[(datetime.datetime(2019, 1, 1, 0, 0), 0.5175, 101),
 (datetime.datetime(2019, 1, 1, 0, 30), 0.528, 101),
 (datetime.datetime(2019, 1, 1, 1, 0), 0.5225, 101),
 (datetime.datetime(2019, 1, 1, 1, 30), 0.5415, 101),
 (datetime.datetime(2019, 1, 1, 2, 0), 0.491, 101)]

##### Build query

In [67]:
%%sql

select 
    timestamp, 
    value,
    round(cast(avg(value) over (rows between 3 preceding and current row) as numeric), 3) as MA_3_span,
    round(cast(avg(value) over (rows between 5 preceding and current row) as numeric), 3) as MA_5_span,
    round(cast(avg(value) over (rows between 10 preceding and current row) as numeric), 3) as MA_10_span
from metering_data
where device=101
limit 10;

 * postgresql://postgres:***@172.18.1.89/postgres
10 rows affected.

[(datetime.datetime(2019, 1, 1, 0, 0), 0.5175, Decimal('0.518'), Decimal('0.518'), Decimal('0.518')),
 (datetime.datetime(2019, 1, 1, 0, 30), 0.528, Decimal('0.523'), Decimal('0.523'), Decimal('0.523')),
 (datetime.datetime(2019, 1, 1, 1, 0), 0.5225, Decimal('0.523'), Decimal('0.523'), Decimal('0.523')),
 (datetime.datetime(2019, 1, 1, 1, 30), 0.5415, Decimal('0.527'), Decimal('0.527'), Decimal('0.527')),
 (datetime.datetime(2019, 1, 1, 2, 0), 0.491, Decimal('0.521'), Decimal('0.520'), Decimal('0.520')),
 (datetime.datetime(2019, 1, 1, 2, 30), 0.563, Decimal('0.530'), Decimal('0.527'), Decimal('0.527')),
 (datetime.datetime(2019, 1, 1, 3, 0), 0.5, Decimal('0.524'), Decimal('0.524'), Decimal('0.523')),
 (datetime.datetime(2019, 1, 1, 3, 30), 0.5275, Decimal('0.520'), Decimal('0.524'), Decimal('0.524')),
 (datetime.datetime(2019, 1, 1, 4, 0), 0.5845, Decimal('0.544'), Decimal('0.535'), Decimal('0.531')),
 (datetime.datetime(2019, 1, 1, 4, 30), 0.551, Decimal('0.541'), Decimal('0.536'), Decimal('0.533'))]

### 6. Persent of hourly consumption in day

##### Buiild query

In [68]:
%%sql 

with total as (
    select sum(value) as total
    from metering_data 
    where device=101 
    and timestamp between '2019-03-01 00:00:00' and '2019-03-01 23:59:59'
)

select 
    ts, 
    round(cast(100*value/(select total from total) as numeric), 1) as percent
from
    (select 
        date_trunc('hour', timestamp) as ts,
        sum(value) as value
    from metering_data
        where 
            device=101 
            and 
            timestamp between '2019-03-01 00:00:00' and '2019-03-01 23:59:59'
    group by ts
    order by ts) as data;

 * postgresql://postgres:***@172.18.1.89/postgres
24 rows affected.

[(datetime.datetime(2019, 3, 1, 0, 0), Decimal('1.2')),
 (datetime.datetime(2019, 3, 1, 1, 0), Decimal('1.2')),
 (datetime.datetime(2019, 3, 1, 2, 0), Decimal('1.3')),
 (datetime.datetime(2019, 3, 1, 3, 0), Decimal('1.2')),
 (datetime.datetime(2019, 3, 1, 4, 0), Decimal('1.3')),
 (datetime.datetime(2019, 3, 1, 5, 0), Decimal('1.2')),
 (datetime.datetime(2019, 3, 1, 6, 0), Decimal('1.3')),
 (datetime.datetime(2019, 3, 1, 7, 0), Decimal('9.5')),
 (datetime.datetime(2019, 3, 1, 8, 0), Decimal('8.1')),
 (datetime.datetime(2019, 3, 1, 9, 0), Decimal('4.5')),
 (datetime.datetime(2019, 3, 1, 10, 0), Decimal('4.8')),
 (datetime.datetime(2019, 3, 1, 11, 0), Decimal('5.1')),
 (datetime.datetime(2019, 3, 1, 12, 0), Decimal('10.4')),
 (datetime.datetime(2019, 3, 1, 13, 0), Decimal('12.0')),
 (datetime.datetime(2019, 3, 1, 14, 0), Decimal('5.4')),
 (datetime.datetime(2019, 3, 1, 15, 0), Decimal('9.7')),
 (datetime.datetime(2019, 3, 1, 16, 0), Decimal('5.0')),
 (datetime.datetime(2019, 3, 1, 17, 0), Decimal('4.1')),
 (datetime.datetime(2019, 3, 1, 18, 0), Decimal('3.4')),
 (datetime.datetime(2019, 3, 1, 19, 0), Decimal('2.5')),
 (datetime.datetime(2019, 3, 1, 20, 0), Decimal('1.7')),
 (datetime.datetime(2019, 3, 1, 21, 0), Decimal('1.7')),
 (datetime.datetime(2019, 3, 1, 22, 0), Decimal('1.7')),
 (datetime.datetime(2019, 3, 1, 23, 0), Decimal('1.7'))]

### 7. Derivations of time series

##### Buld query

In [69]:
%%sql

select
    timestamp,
    value,
    round(cast(value - lag(value, 1) over() as numeric), 3) as diff1,
    round(cast(value - lag(value, 1) over() as numeric), 3) as diff2,
    round(cast(value - lag(value, 1) over() as numeric), 3) as diff3
from
    metering_data
limit 5;

 * postgresql://postgres:***@172.18.1.89/postgres
5 rows affected.

[(datetime.datetime(2019, 1, 1, 0, 0), 0.5175, None, None, None),
 (datetime.datetime(2019, 1, 1, 0, 30), 0.528, Decimal('0.011'), Decimal('0.011'), Decimal('0.011')),
 (datetime.datetime(2019, 1, 1, 1, 0), 0.5225, Decimal('-0.006'), Decimal('-0.006'), Decimal('-0.006')),
 (datetime.datetime(2019, 1, 1, 1, 30), 0.5415, Decimal('0.019'), Decimal('0.019'), Decimal('0.019')),
 (datetime.datetime(2019, 1, 1, 2, 0), 0.491, Decimal('-0.051'), Decimal('-0.051'), Decimal('-0.051'))]

### 8. Power metering integration (from counter to interval delta)

##### View data

In [70]:
%%sql

select * 
from 
    metering_data    
where 
    device=1101
    and
    timestamp between '2020-05-01 00:00:00' and '2020-05-01 23:59:59'
limit 5;

 * postgresql://postgres:***@172.18.1.89/postgres
5 rows affected.

[(datetime.datetime(2020, 5, 1, 0, 0), 122047.6, 1101),
 (datetime.datetime(2020, 5, 1, 0, 30), 122048.3, 1101),
 (datetime.datetime(2020, 5, 1, 1, 0), 122048.8, 1101),
 (datetime.datetime(2020, 5, 1, 1, 30), 122049.5, 1101),
 (datetime.datetime(2020, 5, 1, 2, 0), 122050.1, 1101)]

##### Build query

In [77]:
%%sql

select
    timestamp,
    value as metering,
    round(cast(value - lag(value, 1) over() as numeric), 1) as energy_by_interval
from
    metering_data
where device=1101 and timestamp between '2020-05-01 00:00:00' and '2020-05-01 23:59:59'
limit 10;

 * postgresql://postgres:***@172.18.1.89/postgres
10 rows affected.

[(datetime.datetime(2020, 5, 1, 0, 0), 122047.6, None),
 (datetime.datetime(2020, 5, 1, 0, 30), 122048.3, Decimal('0.7')),
 (datetime.datetime(2020, 5, 1, 1, 0), 122048.8, Decimal('0.5')),
 (datetime.datetime(2020, 5, 1, 1, 30), 122049.5, Decimal('0.7')),
 (datetime.datetime(2020, 5, 1, 2, 0), 122050.1, Decimal('0.6')),
 (datetime.datetime(2020, 5, 1, 2, 30), 122050.7, Decimal('0.6')),
 (datetime.datetime(2020, 5, 1, 3, 0), 122051.3, Decimal('0.6')),
 (datetime.datetime(2020, 5, 1, 3, 30), 122052.0, Decimal('0.7')),
 (datetime.datetime(2020, 5, 1, 4, 0), 122052.6, Decimal('0.6')),
 (datetime.datetime(2020, 5, 1, 4, 30), 122053.1, Decimal('0.5'))]