In [1]:
import os

In [2]:
%load_ext sql

In [4]:
%sql postgresql://postgres:{os.environ['POSTGRES_PASSWORD']}@localhost/postgres

### 1. Sum of power consumtion for period for devices

##### View tables

In [8]:
%sql select * from metering_data limit 5;

 * postgresql://postgres:***@localhost/postgres
5 rows affected.

[(datetime.datetime(2019, 1, 1, 0, 0), 0.5175, 101),
 (datetime.datetime(2019, 1, 1, 0, 30), 0.528, 101),
 (datetime.datetime(2019, 1, 1, 1, 0), 0.5225, 101),
 (datetime.datetime(2019, 1, 1, 1, 30), 0.5415, 101),
 (datetime.datetime(2019, 1, 1, 2, 0), 0.491, 101)]

In [9]:
%sql select * from devices limit 5;

 * postgresql://postgres:***@localhost/postgres
5 rows affected.

[(101, 'Ввод-1 (контр.)', 1, 2),
 (102, 'Ввод-2 (контр.)', 2, 3),
 (103, 'ЩВК 3.3 (ВРУ 3.2)', 3, 3),
 (104, 'ЩР 3.2 (ВРУ 3.2)', 4, 3),
 (105, 'ЩРС 2 (ВРУ 3.2)', 6, 3)]

##### Build query

In [10]:
%%sql

select
   devices.title as device_title,
   metering.consumption as consumption
from devices 
   join
      (
         select
            device as dev_id,
            round(cast(sum(value) as numeric), 3) as consumption 
         from
            metering_data 
         where
            timestamp between '2019-01-01 00:00:00' and '2019-02-01 23:59:59' 
         group by
            device
      ) as metering 
      on devices.id = metering.dev_id

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[('Ввод-1 (контр.)', Decimal('3529.327'))]

### Show top 5 fasilities with most events on it

##### View data

In [11]:
%sql select * from technological_events limit 5;

 * postgresql://postgres:***@localhost/postgres
5 rows affected.

[(1, 'V1-UPS-02. QF1 отключен', datetime.datetime(2020, 5, 20, 9, 10, 0, 208000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 20039, 'state_comm-device', 'info'),
 (2, 'РТП. Выключатель ф.1.5 (1QF5) включен', datetime.datetime(2020, 5, 20, 8, 40, 1, 111000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 11017, 'state_comm-device', 'info'),
 (3, 'РП-15, Яч.3 (СД-2). Выключатель включен', datetime.datetime(2020, 5, 20, 8, 40, 0, 952000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 504, 'state_comm-device', 'info'),
 (4, 'РТП. Выключатель ф.1.5 (1QF5) включен', datetime.datetime(2020, 5, 20, 8, 40, 0, 947000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 11017, 'state_comm-device', 'info'),
 (5, 'V1-UPS-02. QF1 отключен', datetime.datetime(2020, 5, 20, 8, 40, 0, 914000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 20039, 'state_comm-device', 'info')]

In [12]:
%sql select * from facilities limit 5;

 * postgresql://postgres:***@localhost/postgres
5 rows affected.

[(1, 'Офис', 0),
 (2, 'ВРУ-3.1', 1),
 (3, 'ВРУ-3.2', 1),
 (4, 'ВРУ 2-го этажа', 1),
 (5, 'ВРУ 1-го этажа', 1)]

In [13]:
%sql select * from devices limit 5;

 * postgresql://postgres:***@localhost/postgres
5 rows affected.

[(101, 'Ввод-1 (контр.)', 1, 2),
 (102, 'Ввод-2 (контр.)', 2, 3),
 (103, 'ЩВК 3.3 (ВРУ 3.2)', 3, 3),
 (104, 'ЩР 3.2 (ВРУ 3.2)', 4, 3),
 (105, 'ЩРС 2 (ВРУ 3.2)', 6, 3)]

##### Build query

In [21]:
%%sql

SELECT 
    devfac.f_title as Facility,
    COUNT(technological_events.created_timestamp) as Total
FROM technological_events
    JOIN (
        SELECT devices.id as dev_id,
            facilities.title as f_title,
            facilities.id as f_id
        FROM devices
            JOIN facilities ON devices.facility = facilities.id
    ) as devfac ON technological_events.device = devfac.dev_id
GROUP BY Facility
ORDER BY total DESC;

 * postgresql://postgres:***@localhost/postgres
5 rows affected.

[('РТП', 96719),
 ('РП-15', 75882),
 ('Инженерные системы', 18701),
 ('ГПП-1', 1587),
 ('ВРУ-3.1', 876)]

### Daily frequencies of defferent event types on facilities

##### Vies data

In [22]:
%sql select * from technological_events limit 5;

 * postgresql://postgres:***@localhost/postgres
5 rows affected.

[(1, 'V1-UPS-02. QF1 отключен', datetime.datetime(2020, 5, 20, 9, 10, 0, 208000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 20039, 'state_comm-device', 'info'),
 (2, 'РТП. Выключатель ф.1.5 (1QF5) включен', datetime.datetime(2020, 5, 20, 8, 40, 1, 111000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 11017, 'state_comm-device', 'info'),
 (3, 'РП-15, Яч.3 (СД-2). Выключатель включен', datetime.datetime(2020, 5, 20, 8, 40, 0, 952000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 504, 'state_comm-device', 'info'),
 (4, 'РТП. Выключатель ф.1.5 (1QF5) включен', datetime.datetime(2020, 5, 20, 8, 40, 0, 947000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 11017, 'state_comm-device', 'info'),
 (5, 'V1-UPS-02. QF1 отключен', datetime.datetime(2020, 5, 20, 8, 40, 0, 914000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 20039, 'state_comm-device', 'info')]

In [23]:
%sql select * from event_types limit 5;

 * postgresql://postgres:***@localhost/postgres
5 rows affected.

[('communication', 'Коммуникация'),
 ('set_points', 'Уставки'),
 ('data', 'Данные'),
 ('hardware', 'Аппаратное'),
 ('other', 'Прочее')]

##### Build query

In [26]:
%%sql

select type, count(*)
from technological_events
group by type;

 * postgresql://postgres:***@localhost/postgres
5 rows affected.

[('alarm', 1),
 ('high_level', 37060),
 ('info', 18825),
 ('state_comm-device', 135049),
 ('warning', 289)]

In [49]:
%%sql 

SELECT fasility,
       type_title,
       round(avg(COUNT), 1) AS avarage_per_day
FROM
  (SELECT created_timestamp::date AS date,
          devfac.f_title AS fasility,
          event_types.title AS type_title,
          count(message)
   FROM technological_events
   JOIN
     (SELECT devices.id AS dev_id,
             facilities.title AS f_title,
             facilities.id AS f_id
      FROM devices
      JOIN facilities ON devices.facility = facilities.id) AS devfac ON technological_events.device = devfac.dev_id
   JOIN event_types ON technological_events.type=event_types.code
   GROUP BY (date, fasility,
                   type_title)) AS DATA
GROUP BY (fasility,
          type_title)
ORDER BY fasility,
         type_title DESC;

 * postgresql://postgres:***@localhost/postgres
10 rows affected.

[('ВРУ-3.1', 'Предупреждение', Decimal('8.8')),
 ('ВРУ-3.1', 'Информация', Decimal('11.2')),
 ('ВРУ-3.1', 'Высокий уровень', Decimal('6.8')),
 ('ГПП-1', 'Положение комм. аппаратов', Decimal('24.0')),
 ('Инженерные системы', 'Положение комм. аппаратов', Decimal('279.1')),
 ('РП-15', 'Положение комм. аппаратов', Decimal('1132.6')),
 ('РП-15', 'Аварийная сигнализация', Decimal('1.0')),
 ('РТП', 'Положение комм. аппаратов', Decimal('606.2')),
 ('РТП', 'Информация', Decimal('279.1')),
 ('РТП', 'Высокий уровень', Decimal('558.3'))]