In [6]:
import os

In [7]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [8]:
%sql postgresql://postgres:{os.environ['POSTGRES_PASSWORD']}@localhost/postgres

### 1. Sum of power consumtion for period for devices

##### View tables

In [9]:
%sql select * from metering_data limit 5;

 * postgresql://postgres:***@localhost/postgres
5 rows affected.

[(datetime.datetime(2019, 1, 1, 0, 0), 2.778, 102),
 (datetime.datetime(2019, 1, 1, 0, 30), 2.7845, 102),
 (datetime.datetime(2019, 1, 1, 1, 0), 2.7405, 102),
 (datetime.datetime(2019, 1, 1, 1, 30), 2.7535, 102),
 (datetime.datetime(2019, 1, 1, 2, 0), 2.7575, 102)]

In [10]:
%sql select * from devices limit 5;

 * postgresql://postgres:***@localhost/postgres
5 rows affected.

[(101, 'Ввод-1 (контр.)', 1, 2),
 (102, 'Ввод-2 (контр.)', 2, 3),
 (103, 'ЩВК 3.3 (ВРУ 3.2)', 3, 3),
 (104, 'ЩР 3.2 (ВРУ 3.2)', 4, 3),
 (105, 'ЩРС 2 (ВРУ 3.2)', 6, 3)]

##### Build query

In [11]:
%%sql

select
   devices.title as device_title,
   metering.consumption as consumption
from devices 
   join
      (
         select
            device as dev_id,
            round(cast(sum(value) as numeric), 3) as consumption 
         from
            metering_data 
         where
            timestamp between '2019-01-01 00:00:00' and '2019-02-01 23:59:59' 
         group by
            device
      ) as metering 
      on devices.id = metering.dev_id

 * postgresql://postgres:***@localhost/postgres
2 rows affected.

[('Ввод-1 (контр.)', Decimal('3529.327')),
 ('Ввод-2 (контр.)', Decimal('6455.355'))]

### Show top 5 fasilities with most events on it

##### View data

In [14]:
%sql select * from technological_events limit 5;

 * postgresql://postgres:***@localhost/postgres
5 rows affected.

[(1, 'V1-UPS-02. QF1 отключен', datetime.datetime(2020, 5, 20, 9, 10, 0, 208000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 20039, 'state_comm-device', 'info'),
 (2, 'РТП. Выключатель ф.1.5 (1QF5) включен', datetime.datetime(2020, 5, 20, 8, 40, 1, 111000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 11017, 'state_comm-device', 'info'),
 (3, 'РП-15, Яч.3 (СД-2). Выключатель включен', datetime.datetime(2020, 5, 20, 8, 40, 0, 952000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 504, 'state_comm-device', 'info'),
 (4, 'РТП. Выключатель ф.1.5 (1QF5) включен', datetime.datetime(2020, 5, 20, 8, 40, 0, 947000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 11017, 'state_comm-device', 'info'),
 (5, 'V1-UPS-02. QF1 отключен', datetime.datetime(2020, 5, 20, 8, 40, 0, 914000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 20039, 'state_comm-device', 'info')]

In [15]:
%sql select * from facilities limit 5;

 * postgresql://postgres:***@localhost/postgres
5 rows affected.

[(1, 'Офис', 0),
 (2, 'ВРУ-3.1', 1),
 (3, 'ВРУ-3.2', 1),
 (4, 'ВРУ 2-го этажа', 1),
 (5, 'ВРУ 1-го этажа', 1)]

In [16]:
%sql select * from devices limit 5;

 * postgresql://postgres:***@localhost/postgres
5 rows affected.

[(101, 'Ввод-1 (контр.)', 1, 2),
 (102, 'Ввод-2 (контр.)', 2, 3),
 (103, 'ЩВК 3.3 (ВРУ 3.2)', 3, 3),
 (104, 'ЩР 3.2 (ВРУ 3.2)', 4, 3),
 (105, 'ЩРС 2 (ВРУ 3.2)', 6, 3)]

In [18]:
%%sql

SELECT 
    devfac.f_title as Facility,
    COUNT(technological_events.created_timestamp) as Total
FROM technological_events
    JOIN (
        SELECT devices.id as dev_id,
            facilities.title as f_title,
            facilities.id as f_id
        FROM devices
            JOIN facilities ON devices.facility = facilities.id
    ) as devfac ON technological_events.device = devfac.dev_id
GROUP BY f_title;

 * postgresql://postgres:***@localhost/postgres
5 rows affected.

[('ВРУ-3.1', 820),
 ('ГПП-1', 1566),
 ('Инженерные системы', 18451),
 ('РП-15', 74836),
 ('РТП', 95551)]