In [1]:
import os

In [2]:
%load_ext sql

In [3]:
%sql postgresql://postgres:{os.environ['POSTGRES_PASSWORD']}@localhost/postgres

### 1. Sum of power consumtion for period for devices

##### View tables

In [4]:
%sql select * from metering_data limit 5;

 * postgresql://postgres:***@localhost/postgres
5 rows affected.

[(datetime.datetime(2019, 1, 1, 0, 0), 0.5175, 101),
 (datetime.datetime(2019, 1, 1, 0, 30), 0.528, 101),
 (datetime.datetime(2019, 1, 1, 1, 0), 0.5225, 101),
 (datetime.datetime(2019, 1, 1, 1, 30), 0.5415, 101),
 (datetime.datetime(2019, 1, 1, 2, 0), 0.491, 101)]

In [5]:
%sql select * from devices limit 5;

 * postgresql://postgres:***@localhost/postgres
5 rows affected.

[(101, 'Ввод-1 (контр.)', 1, 2),
 (102, 'Ввод-2 (контр.)', 2, 3),
 (103, 'ЩВК 3.3 (ВРУ 3.2)', 3, 3),
 (104, 'ЩР 3.2 (ВРУ 3.2)', 4, 3),
 (105, 'ЩРС 2 (ВРУ 3.2)', 6, 3)]

##### Build query

In [6]:
%%sql

select
   devices.title as device_title,
   metering.consumption as consumption
from devices 
   join
      (
         select
            device as dev_id,
            round(cast(sum(value) as numeric), 3) as consumption 
         from
            metering_data 
         where
            timestamp between '2019-01-01 00:00:00' and '2019-02-01 23:59:59' 
         group by
            device
      ) as metering 
      on devices.id = metering.dev_id

 * postgresql://postgres:***@localhost/postgres
2 rows affected.

[('Ввод-1 (контр.)', Decimal('3529.327')),
 ('Ввод-2 (контр.)', Decimal('6455.355'))]