In [19]:
import os

In [20]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [28]:
%sql postgresql://postgres:{os.environ['POSTGRES_PASSWORD']}@172.18.1.91/postgres

### 1. Sum of power consumtion for period for devices

##### View tables

In [29]:
%sql select * from metering_data limit 5;

 * postgresql://postgres:***@172.18.1.91/postgres
   postgresql://postgres:***@localhost/postgres
5 rows affected.

[(datetime.datetime(2019, 1, 1, 0, 0), 2.778, 102),
 (datetime.datetime(2019, 1, 1, 0, 30), 2.7845, 102),
 (datetime.datetime(2019, 1, 1, 1, 0), 2.7405, 102),
 (datetime.datetime(2019, 1, 1, 1, 30), 2.7535, 102),
 (datetime.datetime(2019, 1, 1, 2, 0), 2.7575, 102)]

In [30]:
%sql select * from devices limit 5;

 * postgresql://postgres:***@172.18.1.91/postgres
   postgresql://postgres:***@localhost/postgres
5 rows affected.

[(101, 'Ввод-1 (контр.)', 1, 2),
 (102, 'Ввод-2 (контр.)', 2, 3),
 (103, 'ЩВК 3.3 (ВРУ 3.2)', 3, 3),
 (104, 'ЩР 3.2 (ВРУ 3.2)', 4, 3),
 (105, 'ЩРС 2 (ВРУ 3.2)', 6, 3)]

##### Build query

In [31]:
%%sql

select
   devices.title as device_title,
   metering.consumption as consumption
from devices 
   join
      (
         select
            device as dev_id,
            round(cast(sum(value) as numeric), 3) as consumption 
         from
            metering_data 
         where
            timestamp between '2019-01-01 00:00:00' and '2019-02-01 23:59:59' 
         group by
            device
      ) as metering 
      on devices.id = metering.dev_id

 * postgresql://postgres:***@172.18.1.91/postgres
   postgresql://postgres:***@localhost/postgres
2 rows affected.

[('Ввод-1 (контр.)', Decimal('3529.327')),
 ('Ввод-2 (контр.)', Decimal('6455.355'))]

### Show top 5 fasilities with most events on it

##### View data

In [32]:
%sql select * from technological_events limit 5;

 * postgresql://postgres:***@172.18.1.91/postgres
   postgresql://postgres:***@localhost/postgres
5 rows affected.

[(1, 'V1-UPS-02. QF1 отключен', datetime.datetime(2020, 5, 20, 9, 10, 0, 208000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 20039, 'state_comm-device', 'info'),
 (2, 'РТП. Выключатель ф.1.5 (1QF5) включен', datetime.datetime(2020, 5, 20, 8, 40, 1, 111000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 11017, 'state_comm-device', 'info'),
 (3, 'РП-15, Яч.3 (СД-2). Выключатель включен', datetime.datetime(2020, 5, 20, 8, 40, 0, 952000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 504, 'state_comm-device', 'info'),
 (4, 'РТП. Выключатель ф.1.5 (1QF5) включен', datetime.datetime(2020, 5, 20, 8, 40, 0, 947000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 11017, 'state_comm-device', 'info'),
 (5, 'V1-UPS-02. QF1 отключен', datetime.datetime(2020, 5, 20, 8, 40, 0, 914000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 20039, 'state_comm-device', 'info')]

In [33]:
%sql select * from facilities limit 5;

 * postgresql://postgres:***@172.18.1.91/postgres
   postgresql://postgres:***@localhost/postgres
5 rows affected.

[(1, 'Офис', 0),
 (2, 'ВРУ-3.1', 1),
 (3, 'ВРУ-3.2', 1),
 (4, 'ВРУ 2-го этажа', 1),
 (5, 'ВРУ 1-го этажа', 1)]

In [34]:
%sql select * from devices limit 5;

 * postgresql://postgres:***@172.18.1.91/postgres
   postgresql://postgres:***@localhost/postgres
5 rows affected.

[(101, 'Ввод-1 (контр.)', 1, 2),
 (102, 'Ввод-2 (контр.)', 2, 3),
 (103, 'ЩВК 3.3 (ВРУ 3.2)', 3, 3),
 (104, 'ЩР 3.2 (ВРУ 3.2)', 4, 3),
 (105, 'ЩРС 2 (ВРУ 3.2)', 6, 3)]

##### Build query

In [35]:
%%sql

SELECT 
    devfac.f_title as Facility,
    COUNT(technological_events.created_timestamp) as Total
FROM technological_events
    JOIN (
        SELECT devices.id as dev_id,
            facilities.title as f_title,
            facilities.id as f_id
        FROM devices
            JOIN facilities ON devices.facility = facilities.id
    ) as devfac ON technological_events.device = devfac.dev_id
GROUP BY Facility
ORDER BY total DESC;

 * postgresql://postgres:***@172.18.1.91/postgres
   postgresql://postgres:***@localhost/postgres
5 rows affected.

[('РТП', 100834),
 ('РП-15', 79553),
 ('Инженерные системы', 19581),
 ('ГПП-1', 1661),
 ('ВРУ-3.1', 916)]

### Daily frequencies of defferent event types on facilities

##### Vies data

In [36]:
%sql select * from technological_events limit 5;

 * postgresql://postgres:***@172.18.1.91/postgres
   postgresql://postgres:***@localhost/postgres
5 rows affected.

[(1, 'V1-UPS-02. QF1 отключен', datetime.datetime(2020, 5, 20, 9, 10, 0, 208000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 20039, 'state_comm-device', 'info'),
 (2, 'РТП. Выключатель ф.1.5 (1QF5) включен', datetime.datetime(2020, 5, 20, 8, 40, 1, 111000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 11017, 'state_comm-device', 'info'),
 (3, 'РП-15, Яч.3 (СД-2). Выключатель включен', datetime.datetime(2020, 5, 20, 8, 40, 0, 952000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 504, 'state_comm-device', 'info'),
 (4, 'РТП. Выключатель ф.1.5 (1QF5) включен', datetime.datetime(2020, 5, 20, 8, 40, 0, 947000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 11017, 'state_comm-device', 'info'),
 (5, 'V1-UPS-02. QF1 отключен', datetime.datetime(2020, 5, 20, 8, 40, 0, 914000, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 20039, 'state_comm-device', 'info')]

In [37]:
%sql select * from event_types limit 5;

 * postgresql://postgres:***@172.18.1.91/postgres
   postgresql://postgres:***@localhost/postgres
5 rows affected.

[('communication', 'Коммуникация'),
 ('set_points', 'Уставки'),
 ('data', 'Данные'),
 ('hardware', 'Аппаратное'),
 ('other', 'Прочее')]

##### Build query

In [38]:
%%sql

select type, count(*)
from technological_events
group by type;

 * postgresql://postgres:***@172.18.1.91/postgres
   postgresql://postgres:***@localhost/postgres
5 rows affected.

[('alarm', 1),
 ('high_level', 39325),
 ('info', 20004),
 ('state_comm-device', 142878),
 ('warning', 337)]

In [39]:
%%sql 

SELECT fasility,
       type_title,
       round(avg(COUNT)/NULLIF((CAST(MAX(date) AS date) - CAST(MIN(date) AS date)),0), 1) AS avarage_per_day
FROM
  (SELECT created_timestamp::date AS date,
          devfac.f_title AS fasility,
          event_types.title AS type_title,
          count(message)
   FROM technological_events
   JOIN
     (SELECT devices.id AS dev_id,
             facilities.title AS f_title,
             facilities.id AS f_id
      FROM devices
      JOIN facilities ON devices.facility = facilities.id) AS devfac ON technological_events.device = devfac.dev_id
   JOIN event_types ON technological_events.type=event_types.code
   GROUP BY (date, fasility,
                   type_title)) AS DATA
GROUP BY (fasility,
          type_title)
ORDER BY fasility,
         type_title DESC;

 * postgresql://postgres:***@172.18.1.91/postgres
   postgresql://postgres:***@localhost/postgres
10 rows affected.

[('ВРУ-3.1', 'Предупреждение', Decimal('0.1')),
 ('ВРУ-3.1', 'Информация', Decimal('0.2')),
 ('ВРУ-3.1', 'Высокий уровень', Decimal('0.3')),
 ('ГПП-1', 'Положение комм. аппаратов', Decimal('0.4')),
 ('Инженерные системы', 'Положение комм. аппаратов', Decimal('3.7')),
 ('РП-15', 'Положение комм. аппаратов', Decimal('15.2')),
 ('РП-15', 'Аварийная сигнализация', None),
 ('РТП', 'Положение комм. аппаратов', Decimal('8.0')),
 ('РТП', 'Информация', Decimal('3.7')),
 ('РТП', 'Высокий уровень', Decimal('7.5'))]